@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.post-text-area{
    resize: none;
    width: 300px !important;
    height: 100px !important;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background: black !important;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.search_bolim{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.search_posts{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.search_posts1{
    width: 800px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.search_buttom{
    display: flex;
    margin: 20px;
}
.search_buttom select{
    width: 300px;
    height: 50px;
    border:2px solid #ec4e34;
    border-radius: 10px;
    margin: 10px;
}
.search_buttom input{
    width: 300px;
    height: 50px;
    border:2px solid #ec4e34;
    border-radius: 10px;
    margin: 10px;
}
.search_buttom1 input{
    width: 100px;
    height: 50px;
    border:2px solid #ec4e34;
    border-radius: 10px;
    margin: 10px;
    background: #ec4e34;
    color: white;
    transition: 0.2s;
}
.search_buttom1 input:hover{
    background: white;
    color: #ec4e34;
}

.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}



.menu_hover img{
    width: 30px;
    transition: 0.5s;
}
.menu_hover img:hover {
    margin-left: 10px;
    width: 40px;
}

.menu_add img{
    margin-left: -5px;
    width: 40px;
    transition: 0.5s;
}
.menu_add img:hover {
    margin-left: 10px;
    width: 50px;
}
.logo1{
    width: 60px !important;
    height: 60px !important;
    border-color: blue;
}
.post{
    display: flex;
}
.choosephoto input[type="file"]{
    display: none;
}

.choosephoto {
    height: 30px;
    width: 100px;
    color: white;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.userpage{

}
.user_colum{
    display: flex;
    margin: auto;
    justify-content: center;
}
.user_colum img{
    box-shadow: rgba(0,0,0,0.25);
    width: 90px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_colum label{
    margin-left: -10px;
    margin-top: 70px;
    font-size: 5px;
    width: 10px;
    height: 10px;
    background: #ec4e34;
    color: #fff;
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_colum input[type="file"]{
    display: none;
}
.user_content hr{
    width:100%;
}
.background1 {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/images/login_bec.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.login1{
    box-shadow: -7px 9px 33px 0px rgba(0,0,0,0.82);
    -webkit-box-shadow: -7px 9px 33px 0px rgba(0,0,0,0.82);
    -moz-box-shadow: -7px 9px 33px 0px rgba(0,0,0,0.82);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 600px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}
.login2{

    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
.login2 h1{
    margin-bottom: 70px;
    font-family: 'Pacifico', cursive;
}
.login2 p{
    margin-top: -1px;
    font-size: 15px;
    font-family: Arial;
    color: rgba(9, 9, 9, 0.5);
}

.login2 img{
    width: 100px;
    border-radius: 50px;
}

.inputlogin {
    border-radius: 10px;
    width: 200px;
    height: 40px;
    border: 3px solid #000;
    outline: none;
}
.inputlogin:hover{
    border-color: #5cb85c;

}
.inputlogin:focus{
    border-color: #5cb85c;
}

.inputok{
    font-family:'Pacifico', cursive;
    border-radius: 20px;
    width: 50px;
    height: 30px;
    background-color: #ff7171;
    margin-bottom: 10px;
    color: white;
    transition: 1s;
}
.inputok:hover{
    background-color: white;
    color:  #ff7171;
}

.aclas{
    font-family:'Pacifico', cursive;
    margin-bottom: 10px;
    text-decoration: none;
}
.regBody{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/registration_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.registorDiv{
    box-shadow: -7px 9px 33px 0px rgba(102,7,7,0.82);
    -webkit-box-shadow: -7px 9px 33px 0px rgba(102,7,7,0.82);
    -moz-box-shadow: -7px 9px 33px 0px rgba(102,7,7,0.82);
    border: 3px solid #660707D1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    background-color: rgba(234, 230, 230, 0.9);
}
.login2 label{
    font-size: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
    font-family:'Pacifico', cursive;
}

.choosephoto img{
    width: 25px;
    height: 25px;!important;
}

.inputQoshish{
    font-family:'Pacifico', cursive;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    background-color: #ff7171;
    margin-bottom: 10px;
    color: white;
    transition: 1s;
}
.inputQoshish:hover{
    box-shadow: 2px 2px 127px 40px rgba(255,113,113,0.81);
    -webkit-box-shadow: 2px 2px 127px 40px rgba(255,113,113,0.81);
    -moz-box-shadow: 2px 2px 127px 40px rgba(255,113,113,0.81);
    background-color: white;
    color:  #ff7171;
    border-color: #ff7171;
}
.userpost{
    background-color: white;
    box-shadow: 1px 5px 4px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 4px 0px rgba(0,0,0,0.75);
    width: 200px;
    border: 3px solid rgba(0, 0, 0, 0.33);
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;

}
.userpost img{
    width: 175px;
    height: 150px;
}
.postmenu{
    display: flex;
}
.userpage h1:hover{
    color: #ff6360;
}
.row1{
    background-image: radial-gradient(circle at 0% 0% , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 113, 113, 0.58));
}

.p_r{
    display: flex;
}
.p_img img{
    width: 400px;
    height: 400px;
    margin: 50px;
}
.p_s {
    width: 400px;
    font-family: 'Poppins', sans-serif;

}
.p_s a{
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #ff6360;
    border-color: #ff6360;
}

.p_s h2{
    margin: 50px 0px 20px 0px;
}
.p_s p{
    margin: 50px 0px 50px 0px;
}
.layout_flex{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images3{
    width: 300px;
    height: 150px;
}
.images{
    width: 400px;
    height: 400px;
}
.images1{
    width: 600px;
    height: 300px;
}
.menu_d{
    border-radius: 10px;
    border:2px solid #ec4e34;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/menu_image/dessert.png");
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.menu_d a{
    text-decoration: none;
    padding: 5px  10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.67);
    transition: 0.8s;
}
.menu_d a:hover{
    box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    -webkit-box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    -moz-box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    color: white;
    padding: 30px ;
    border-radius: 50%;
    background-color: rgba(236, 78, 52, 0.76);
}

.menu_m{
    border-radius: 10px;
    border:2px solid #ec4e34;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    background-image: url("assets/menu_image/fastfood.png");
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_m a{
    text-decoration: none;
    padding: 5px  10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.67);
    transition: 0.8s;
}
.menu_m a:hover{
    box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    -webkit-box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    -moz-box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    color: white;
    padding: 30px ;
    border-radius: 50%;
    background-color: rgba(236, 78, 52, 0.76);
}

.menu_i{
    border-radius: 10px;
    border:2px solid #ec4e34;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/menu_image/ichimliklar.png");
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

}
.menu_i a{
    text-decoration: none;
    padding: 5px  10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.67);
    transition: 0.8s;
}
.menu_i a:hover{
    box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    -webkit-box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    -moz-box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    color: white;
    padding: 30px ;
    border-radius: 50%;
    background-color: rgba(236, 78, 52, 0.76);
}
.menu_o{
    border: 2px solid #ec4e34;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/menu_image/ovqat.png");
    margin: 10px;
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_o a{
    font-size: 25px;
    text-decoration: none;
    padding: 5px  10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.67);
    transition: 0.8s;
}
.menu_o a:hover{
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 40px -6px rgba(49, 255, 26, 0.69);
    -webkit-box-shadow: 0px 0px 40px -6px rgba(49, 255, 26, 0.69);
    -moz-box-shadow: 0px 0px 40px -6px rgba(49, 255, 26, 0.69);
    color: white;
    padding: 30px ;
    border-radius:75%/ 50% ;
    background-color: rgba(49, 255, 26, 0.69);
}
.menu_s{
    border: 2px solid #ec4e34;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/menu_image/snacks.png");
    margin: 10px;
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_s a{
    font-size: 25px;
    text-decoration: none;
    padding: 5px  10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.67);
    transition: 0.8s;
}
.menu_s a:hover{
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 40px -6px rgba(49, 255, 26, 0.69);
    -webkit-box-shadow: 0px 0px 40px -6px rgba(49, 255, 26, 0.69);
    -moz-box-shadow: 0px 0px 40px -6px rgba(49, 255, 26, 0.69);
    color: white;
    padding: 30px ;
    border-radius:75%/ 50% ;
    background-color: rgba(49, 255, 26, 0.69);
}

.menu_mu{
    border-radius: 10px;
    border:2px solid #ec4e34;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    background-image: url("assets/menu_image/musqaymoq.png");
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_mu a{
    text-decoration: none;
    padding: 5px  10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.67);
    transition: 0.8s;
}
.menu_mu a:hover{
    box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    -webkit-box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    -moz-box-shadow: 0px 0px 40px -6px rgba(236,78,52,1);
    color: white;
    padding: 30px ;
    border-radius: 50%;
    background-color: rgba(236, 78, 52, 0.76);
}

.menu_food{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.chat{
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat h1{
    color: #ec4e34;
    font-family: 'Poppins', sans-serif; !important;
}
